* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 4rem;
}

/* flexbox navbar*/

.header {
  background: #1d1d1d;
  padding: 1.5rem 0;
  color: #fff;
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0 4rem;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #9c9c9c;
}

.featured {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0;
  height: 600px;
}

.feature-image {
  flex-basis: 50%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
}

.feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature-content {
  flex-basis: 50%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.feature-button {
  color: #fff;
  background: #1d1d1d;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
}

.feature-button:hover {
  background: #414141;
  color: #d9d9d9;
  cursor: pointer;
}

.feature-footer {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.feature-content p {
  color: #4d4d4d;
}

.latest {
  padding: 6rem 0;
  background: #f5f5f5;
  width: 100%;
}

.latest-title {
  margin-bottom: 1rem;
}

.latest-subtitle {
  margin-bottom: 2rem;
  color: #666666;
}
/* 
.latest-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
} */

.latest-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 0 auto;
}

.latest-card {
  /* width: 100%; */
  height: 500px;
  border-radius: 8px;
  box-shadow: none;
  background: #fff;
  overflow: hidden;
}

.latest-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.latest-content {
  padding: 1.5rem;
}

.latest-content h3 {
  margin-bottom: 1rem;
}

.latest-content p {
  color: #666;
  margin-bottom: 1.5rem;
}

.latest-more {
  text-decoration: none;
  font-weight: bold;
  padding-right: 1.5rem;
}

.hot-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 600px;
}

.hot-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.hot-grid-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.hot-grid-2 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-3 {
  grid-column: span 1;
  grid-row: span 1;
}

.hot-grid-4{
    grid-column: span 2;
    grid-row: span 1;
}


.masonary-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.masonary{
    padding: 4rem 1rem;
    background-color: #fff;
}

.masonary-subtitle{
    margin-bottom: 2rem;
    color: #666;
}

.masonary-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
    max-width: none;
}

.masonary-item{
    background-color: #e0e0e0;
    border-radius: 8px;
}

.item1{
    grid-column: 1/1;
    grid-row: 1 / 3;
}

.item2{
    grid-column: span 2;
    grid-row: span 2;
}

.item3{
    grid-column: span 1;
    grid-row: span 1;
}
.item4{
    grid-column: span 1;
    grid-row: span 1;
}

.item5{
    grid-column: 4/6;
    grid-row: 2 / 3;
}

.item6{
    grid-column:1 / span 4;
    grid-row: 3 /3 ;
}

.item7{
    grid-column: 5/6;
    grid-row: 3/3;
}


.masonary-item{
  position: relative;
}

.masonary-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.masonary-item::after{
  content: "Laptop View";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.masonary-item:hover::before,
.masonary-item:hover::after{
  opacity: 1;
}


